/* article 1 */

.article1 {
	background-color: #0CC0C2;
	font-family: 'Roboto', sans-serif;
	font-size: .75em;
	color: #fff;
	line-height: 3em;
	padding: 2em;
	border: 4px solid black;
	border-radius: 10px;
}

.article2 {
	background-color: #B60000;
	font-family: 'Lato', sans-serif;
	font-size: 1.75em;
	color: #B19696;
	line-height: 2.2em;
	padding: .22em;
	border: 10px solid #615F68;
	border-radius: 20px;
}

.article3 {
	background-color: #14AB49;
	font-family: 'Slabo 27px', serif;
	font-size: .45em;
	color: #0E110F;
	line-height: 1.2em;
	padding: 3.22em;
	border: 12px solid #076325;
	border-radius: 40px;
}